#filter {
    position: fixed;
    bottom: 10%;
    right: 5%;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white !important;
}

#filter:hover{
  background-color: grey !important;
  color: white;
}